<DL><p>
  <DT><A HREF="https://linux.cn/article-8140-1.html" >分享|Linux 上搭建 Minecraft 服务器</A>
  <DT><A HREF="https://blog.csdn.net/xuejianbest/article/details/80508156#1_javaJava18_2" >我的世界：CentOS搭建mc服务器 - xuejianbest的专栏 - CSDN博客</A>
  <DT><A HREF="https://www.cnblogs.com/qixidi/p/10185553.html" >在Linux下搭建我的世界(Minecraft)服务器 - 栖息地 - 博客园</A>
  <DT><A HREF="https://www.cnblogs.com/manong--/p/8016884.html" >Linux下安装jdk1.8 - 码农一只 - 博客园</A>
  <DT><A HREF="https://www.oracle.com/technetwork/java/javase/downloads/jdk8-downloads-2133151.html" >Java SE Development Kit 8 - Downloads</A>
  <DT><A HREF="https://www.cnblogs.com/xuliangxing/p/7066913.html" >Linux 下安装JDK1.8 - 法号阿兴 - 博客园</A>
  <DT><A HREF="https://www.cnblogs.com/nicknailo/articles/8563456.html" >Linux下彻底卸载mysql详解 - nicknailo - 博客园</A>
  <DT><A HREF="https://blog.csdn.net/WNsshssm/article/details/84315519" >jdk下载以前版本需要的账号（转） - 迷了路你就往前走的博客 - CSDN博客</A>
  <DT><A HREF="http://www.mcbbs.net/thread-569077-1-1.html" >服务器详细设置server.properties优化服务器 - 联机教程 - Minecraft(我的世界)中文论坛 -</A>
  <DT><A HREF="https://www.cnblogs.com/reboot51/p/9485911.html" >神器 Tmux 的超绝便利 - 小单同桌 - 博客园</A>
  <DT><A HREF="https://www.cnblogs.com/liuguanglin/p/9290345.html" >tmux基本操作 - Guanglin - 博客园</A>
  <DT><A HREF="https://blog.csdn.net/qq_31788297/article/details/81433461" >在Linux下修改phpstudy集成环境中的MySQL端口号 - qq_31788297的博客 - CSDN博客</A>
  <DT><A HREF="https://www.cnblogs.com/apolloren/p/8832868.html" >linux上安装phpstudy - 阿波罗任先生 - 博客园</A>
  <DT><A HREF="https://blog.csdn.net/whereisdog/article/details/82979990" >如何安装和使用Wine，以便在Linux上运行Windows应用程序 - whereisdog的博客 - CSDN博客</A>
</DL><p>
<DT><H3 >MCBox</H3>
  <DL><p>
      <DT><H3 >组包</H3>
      <DL><p>
          <DT><A HREF="https://www.lanzous.com/b278009/" >Essentials</A>
          <DT><A HREF="http://ess.khhq.net/mc/" >MC Colour Guide</A>
          <DT><A HREF="https://skin.prinzeugen.net/" >Blessing Skin</A>
          <DT><A HREF="https://www.mcbbs.net/thread-805404-1-1.html" >[角色]SkinsRestorer —— 老牌皮肤显示插件[1.8+ 中文|持续更新|支持Sponge] - 服务端插件 - Minecraft(我的世界)中文论坛 -</A>
          <DT><A HREF="https://www.mcbbs.net/thread-944510-1-1.html" >[1.14.4][官服]MCDaemon-go+Carpet——纯净服务端解决方案 - 服务端整合包 - Minecraft(我的世界)中文论坛 -</A>
          <DT><A HREF="https://www.fansmc.com/" >我的世界服务器_我的世界找服网</A>
      </DL><p>
      <DT><H3 >DataPackage</H3>
      <DL><p>
          <DT><A HREF="https://www.planetminecraft.com/data-pack/towns-amp-towers-structure-overhaul/" >Towns &amp; Towers - Structure Overhaul Minecraft Data Pack</A>
          <DT><A HREF="https://www.planetminecraft.com/data-pack/moss-ruins-datapack/" >Moss Ruins Datapack Minecraft Data Pack</A>
          <DT><A HREF="https://www.planetminecraft.com/data-pack/choicetheorem-s-overhauled-villages-for-1-18/" >ChoiceTheorem&#39;s Overhauled villages for 1.18.2 Minecraft Data Pack</A>
          <DT><A HREF="https://www.planetminecraft.com/data-pack/treecapitator-datapack-1-13/" >TreeCapitator Minecraft 数据包</A>
          <DT><A HREF="https://www.planetminecraft.com/data-pack/terralith-overworld-evolved-100-biomes-caves-and-more/" >Terralith Minecraft Data Pack</A>
          <DT><A HREF="https://www.planetminecraft.com/data-pack/blazeandcave-s-advancements-pack-1-12/" >BlazeandCave&#39;s Advancements Pack [1.18 Datapack] Minecraft Data Pack</A>
          <DT><A HREF="https://www.planetminecraft.com/data-pack/incendium-nether-expansion/" >Incendium ~ Nether Expansion [Now 1.18!] Minecraft Data Pack</A>
          <DT><A HREF="https://www.planetminecraft.com/data-pack/moar-swords-4511250/" >WASD Moar Swords [Datapack] 1.18.2 Minecraft Data Pack</A>
          <DT><A HREF="https://www.planetminecraft.com/data-pack/fokastudio-s-ender-expansion/" >FokaStudio&#39;s Ender Expansion ~ Harder End, New Biomes and More! [Now PROPERLY on 1.18.2!] Minecraft Data Pack</A>
          <DT><A HREF="https://www.planetminecraft.com/data-pack/bubblellaneous/" >Bubblellaneous | Furniture, Security, Food &amp; More Minecraft Data Pack</A>
      </DL><p>
      <DT><H3 >资源包</H3>
      <DL><p>
          <DT><A HREF="https://fireeaglefegaming.wixsite.com/myresourcepacks/realisticsky" >天空材质包Realistic Sky Resource Pack</A>
          <DT><A HREF="https://github.com/Poudingue/Vanilla-Normals-Renewed-1.12" >反射材质包Poudingue/Vanilla-Normals-Renewed-1.12: Vanilla Normals made compatible with SEUS renewed (and other PBR minecraft shaders) for Minecraft &lt; 1.13</A>
          <DT><A HREF="https://www.mcbbs.net/forum.php?mod=viewthread&tid=374919" >方块模型 - 翻译&amp;Wiki - Minecraft(我的世界)中文论坛 -</A>
          <DT><A HREF="https://minecraft-zh.gamepedia.com/%E6%95%99%E7%A8%8B/%E5%88%B6%E4%BD%9C%E8%B5%84%E6%BA%90%E5%8C%85" >教程/制作资源包 - Minecraft Wiki，最详细的官方我的世界百科</A>
          <DT><A HREF="https://minecraft-zh.gamepedia.com/%E6%A8%A1%E5%9E%8B" >模型 - Minecraft Wiki，最详细的官方我的世界百科</A>
          <DT><A HREF="https://yiff.party/patreon/4847727" >SEUS-PTGI-sonicether | yiff.party</A>
          <DT><A HREF="http://minecraft.novaskin.me/wallpapers/mobile" >Nova Skin - Minecraft Wallpaper Generator with custom skins</A>
          <DT><A HREF="http://www.skinme.cc/skinme/user/home/" >首页 - 我的世界皮肤站 - Minecraft SkinMe</A>
      </DL><p>
      <DT><H3 >插件</H3>
      <DL><p>
          <DT><A HREF="https://www.spigotmc.org/resources/openlogin-1-7x-1-18x.57272/" >开放登录 [1.7X -1.18X] | SpigotMC - 高性能 Minecraft</A>
          <DT><A HREF="https://www.curseforge.com/minecraft/bukkit-plugins" >Bukkit 插件 - Minecraft - CurseForge</A>
          <DT><A HREF="https://www.spigotmc.org/resources/gadgetsmenu-1-8-1-17-1-free.10885/" >GadgetsMenu [1.8 - 1.17.1] [免费] | SpigotMC - 高性能 Minecraft</A>
          <DT><A HREF="https://www.spigotmc.org/resources/soaromasac-lightweight-cheat-detection-system.87702/" >SoaromaSAC | 轻量级作弊检测系统 | SpigotMC - 高性能 Minecraft</A>
          <DT><A HREF="https://enginehub.org/worldedit/#downloads" >WorldEdit | EngineHub</A>
          <DT><A HREF="https://github.com/Jakllp/MyPet" >Jakllp/MyPet: This is not the main project - Please visit https://github.com/MyPetORG/MyPet</A>
          <DT><A HREF="https://essinfo.xeya.me/commands.html" >EssentialsX Info - Commands</A>
          <DT><A HREF="https://www.spigotmc.org/resources/haonick-advanced-nick-plugin-1-8-1-17.81108/" >郝尼克 | 高级尼克插件 | 1.8 - 1.17 | SpigotMC - 高性能 Minecraft</A>
          <DT><A HREF="https://www.spigotmc.org/resources/skinsrestorer.2124/history" >SkinsRestorer - Version History | SpigotMC - High Performance Minecraft</A>
          <DT><A HREF="https://www.spigotmc.org/resources/skinfixer.82705/" >SkinFixer | SpigotMC - 高性能 Minecraft</A>
          <DT><A HREF="https://luckperms.net/" >LuckPerms</A>
          <DT><A HREF="https://www.spigotmc.org/resources/fartherviewdistance.84950/" >FartherViewDistance | SpigotMC - High Performance Minecraft</A>
          <DT><A HREF="https://www.spigotmc.org/resources/insights-super-configurable-region-limits-asynchronous-scans-1-18.56489/" >洞察 - 超级可配置（区域）限制 + 异步扫描 [1.18] | SpigotMC - 高性能 Minecraft</A>
          <DT><A HREF="https://dev.bukkit.org/projects/essentialsx/files" >Files - EssentialsX - Bukkit Plugins - Projects - Bukkit</A>
          <DT><A HREF="https://dev.bukkit.org/projects/worldedit/files" >Files - WorldEdit for Bukkit - Bukkit Plugins - Projects - Bukkit</A>
          <DT><A HREF="https://github.com/dmulloy2/ProtocolLib/releases/tag/4.7.0" >Release ProtocolLib v4.7.0 · dmulloy2/ProtocolLib</A>
          <DT><A HREF="https://www.spigotmc.org/resources/categories/spigot.4/" >Spigot | SpigotMC - High Performance Minecraft</A>
          <DT><A HREF="https://www.spigotmc.org/resources/banitem-1-7-1-18.67701/" >BanItem [1.7-1.18+] | SpigotMC - 高性能 Minecraft</A>
          <DT><A HREF="https://www.mcbbs.net/thread-976724-1-1.html" >[管理|安全|修正]BanItem——一款有新型有特色的轻量级封禁物品插件[1.7-1.15] - 服务端插件 - Minecraft(我的世界)中文论坛 -</A>
          <DT><A HREF="https://dev.bukkit.org/projects/multiverse-core/files" >Files - Multiverse-Core - Bukkit Plugins - Projects - Bukkit</A>
          <DT><A HREF="https://www.spigotmc.org/resources/myworlds.39594/" >MyWorlds | SpigotMC - High Performance Minecraft</A>
          <DT><A HREF="https://dev.bukkit.org/bukkit-plugins" >Bukkit Plugins - Projects - Bukkit</A>
          <DT><A HREF="https://mineplugin.org/McMMO" >McMMO - Minecraft插件百科</A>
          <DT><A HREF="https://www.curseforge.com/minecraft/bukkit-plugins/search?search=mcmmo" >mcmmo - 搜索 - CurseForge</A>
          <DT><A HREF="https://www.mcbbs.net/forum.php?mod=viewthread&tid=1290027" >[2022.1.8]剖开mcMMO给你看——mcMMOの要素解析＆配置教程 - 联机教程 - Minecraft(我的世界)中文论坛 -</A>
          <DT><A HREF="https://www.mcbbs.net/forum.php?mod=viewthread&tid=1300127" >[信息][开源][SCT]mcMMO View —— 更好的显示mcmmo,支持高版本! - 服务端插件 - Minecraft(我的世界)中文论坛 -</A>
          <DT><A HREF="https://www.mcbbs.net/forum.php?mod=viewthread&tid=552650" >【wiki翻译】McMMO wiki 中文翻译 - 联机教程 - Minecraft(我的世界)中文论坛 -</A>
          <DT><A HREF="https://popicraft.net/jenkins/job/mcMMO/" >mcMMO [Jenkins]</A>
          <DT><A HREF="https://www.spigotmc.org/resources/aurelium-skills-advanced-skills-stats-abilities-and-more.81069/" >Aurelium Skills | Advanced Skills, Stats, Abilities, and more | SpigotMC - High Performance Minecraft</A>
          <DT><A HREF="https://www.curseforge.com/minecraft/bukkit-plugins/player-heads" >玩家头像 - Bukkit 插件 - Minecraft - CurseForge</A>
          <DT><A HREF="https://www.spigotmc.org/resources/viaversion.19254/" >通过版本 | SpigotMC - 高性能 Minecraft</A>
          <DT><A HREF="https://www.spigotmc.org/resources/viabackwards.27448/" >ViaBackwards | SpigotMC - 高性能 Minecraft</A>
      </DL><p>
      <DT><H3 >服务端核心</H3>
      <DL><p>
          <DT><A HREF="https://www.mcbbs.net/thread-1126347-1-1.html" >[CPS]Geyser最新使用教程 - 基岩版插件&amp;服务端 - Minecraft(我的世界)中文论坛 -</A>
          <DT><A HREF="https://www.mcbbs.net/forum.php?mod=viewthread&tid=1046859" >[1.16.5/1.18.1]Arclight ⚡ —— 高版本 Forge+Bukkit 服务端实现 - 软件资源 - Minecraft(我的世界)中文论坛 -</A>
          <DT><A HREF="https://www.mcbbs.net/forum.php?mod=viewthread&tid=916340" >[1.12.2/1.16.5/1.18.1]Mohist ——— 高版本 Forge+Paper 服务器核心 - 软件资源 - Minecraft(我的世界)中文论坛 -</A>
          <DT><A HREF="https://www.mcbbs.net/thread-1280076-1-1.html" >[1.16.5]LoliServer 🎆 —— 基于Forge并融合Spigot/Bukkit的高兼容性核心 - 软件资源 - Minecraft(我的世界)中文论坛 -</A>
          <DT><A HREF="https://wiki.geysermc.org/geyser/setup/#plugin-setup" >间歇泉设置</A>
          <DT><A HREF="https://geyser.superiormc.cn/user-guide/li-jie-pei-zhi#ji-yan-ban-bu-fen" >理解配置 - Geyser Wiki</A>
          <DT><A HREF="https://getbukkit.org/download/spigot" >Spigot</A>
          <DT><A HREF="https://geysermc.org/" >间歇泉MC</A>
          <DT><A HREF="https://github.com/IzzelAliz/Arclight" >Arclight,在 Forge 上使用 Mixin 实现 Bukkit(1.15/1.16) 服务器,下载Arclight的源码_GitHub_酷徒 ⚡</A>
          <DT><A HREF="https://papermc.io/" >PaperMC – The High Performance Fork</A>
          <DT><A HREF="https://papermc.io/downloads" >Downloads – PaperMC</A>
          <DT><A HREF="https://www.spigotmc.org/wiki/bungeecord/" >BungeeCord | SpigotMC - High Performance Minecraft</A>
          <DT><A HREF="https://www.spigotmc.org/resources/voting-day-night-sun-rain-storm-custom.27385/" >Voting (DAY/NIGHT/SUN/RAIN/STORM/CUSTOM) | SpigotMC - High Performance Minecraft</A>
          <DT><A HREF="http://ci.mengcraft.com:8081/job/spigot/" >Spigot [Jenkins]</A>
          <DT><A HREF="https://minecraft-zh.gamepedia.com/Server.properties" >server.properties - Minecraft Wiki，最详细的官方我的世界百科</A>
          <DT><A HREF="http://www.relatev.com/forum.php?mod=viewthread&tid=218&extra=" >[面向新手] 从零开始整合Sponge端，让你开起新时代模组服* 从入门到精qi通keng - 我的世界-Minecraft - 格兰蒂协会 - 我的世界MineCraft中文论坛|单机联机游戏论坛 - 自由的游戏玩家社区!</A>
          <DT><A HREF="https://www.mcbbs.net/thread-916340-1-1.html" >[1.16.5/1.18.2]Mohist ——— 高版本 Forge+Paper 服务器核心 - 软件资源 - Minecraft(我的世界)中文论坛 -</A>
          <DT><A HREF="https://www.mcbbs.net/forum.php?mod=viewthread&tid=1214823" >【服务端整合包】服务端核心镜像站 [自建|高速|稳定|全面] [1.2-1.18] - 服务端整合包 - Minecraft(我的世界)中文论坛 -</A>
      </DL><p>
      <DT><H3 >工具</H3>
      <DL><p>
          <DT><A HREF="https://www.uuidgenerator.net/version4" >在线 UUID 生成器工具</A>
          <DT><A HREF="http://minecraftskinavatar.com/" >Minecraft头像生成器</A>
          <DT><A HREF="https://www.mcmod.cn/tools/cbcreator/#/home/" >命令方块指令生成器 - 实用工具 - MC百科|最大的Minecraft中文MOD百科</A>
          <DT><A HREF="https://jdk.java.net/java-se-ri/14" >Java Platform, Standard Edition 14 Reference Implementations</A>
          <DT><A HREF="https://adoptium.net/releases.html?variant=openjdk17" >Latest release | Adoptium - Open source, prebuilt OpenJDK binaries</A>
          <DT><A HREF="https://www.minecraftskins.net/" >Minecraft Skins | Download the best Minecraft Skins</A>
          <DT><A HREF="https://minecraft.tools/en/crafting.php" >MC超实用工具</A>
          <DT><A HREF="http://www.mcedit-unified.net/" >MCEdit Unified</A>
      </DL><p>
      <DT><H3 >教程文档</H3>
      <DL><p>
          <DT><A HREF="https://minecraft.fandom.com/zh/wiki/%E6%95%99%E7%A8%8B/%E6%9E%B6%E8%AE%BE%E6%9C%8D%E5%8A%A1%E5%99%A8#.E4.B8.80.E8.88.AC.E6.AD.A5.E9.AA.A4" >教程/架设服务器 - Minecraft Wiki，最详细的我的世界百科</A>
          <DT><A HREF="https://mineplugin.org/%E9%A6%96%E9%A1%B5" >Minecraft插件百科</A>
          <DT><A HREF="https://www.spigotmc.org/resources/protocollib.1997/" >协议库 | SpigotMC - 高性能 Minecraft</A>
          <DT><A HREF="https://developer.valvesoftware.com/wiki/Source_RCON_Protocol" >源 RCON 协议 - Valve 开发者社区</A>
          <DT><A HREF="https://minecraft.fandom.com/zh/wiki/%E6%95%99%E7%A8%8B/%E9%80%9A%E7%94%A8%E7%89%A9%E5%93%81%E5%88%86%E7%B1%BB%E5%99%A8?variant=zh" >教程/通用物品分类器 - Minecraft Wiki，最详细的我的世界百科</A>
          <DT><A HREF="https://minecraft-zh.gamepedia.com/index.php?title=%E9%99%84%E9%AD%94/ID&variant=zh-hant" >附魔/ID - Minecraft Wiki</A>
          <DT><A HREF="https://www.mcbbs.net/thread-803870-1-1.html" >Optifne 小型实用教程 </A>
          <DT><A HREF="https://www.mcbbs.net/forum.php?mod=viewthread&tid=833634&orderby=dateline" >Blockbench教程-做出属于自己的模型 - 材质资源 - Minecraft(我的世界)中文论坛 -</A>
          <DT><A HREF="https://minecraft-zh.gamepedia.com/%E6%95%99%E7%A8%8B/%E5%88%B6%E4%BD%9C%E8%B5%84%E6%BA%90%E5%8C%85#pack.mcmeta" >教程/制作资源包 - Minecraft Wiki，最详细的官方我的世界百科</A>
          <DT><A HREF="https://wiki.biligame.com/mc/Minecraft_Wiki" >Minecraft Wiki - Minecraft Wiki</A>
          <DT><A HREF="http://www.zuimc.com/thread-42552-1-1.html" >【服务器技巧】你知道吗，这些东西可以大幅度优化服务器的运行！ - 技巧教程 - 最MC论坛 - 我的世界_Minecraft_联机_服主_资讯_MOD_皮肤_交流_作品_中文论坛</A>
      </DL><p>
      <DT><A HREF="https://www.mcmod.cn/" >MC百科|最大的Minecraft中文MOD百科</A>
      <DT><A HREF="https://www.spongepowered.org/downloads/spongeforge/stable/1.12.2" >SpongeForge Downloads</A>
      <DT><A HREF="https://files.minecraftforge.net/" >Minecraft Forge</A>
      <DT><A HREF="https://namemc.com/minecraft-skins/trending/daily?page=2" >Trending Minecraft Skins | NameMC</A>
      <DT><A HREF="https://login2.nide8.com:233/account/login" >登录 Minecraft 统一通行证 - Minecraft 统一通行证</A>
      <DT><A HREF="https://gl.xn--gfs727n.com:233/id/" >Minecraft 物品ID列表</A>
      <DT><A HREF="https://files.minecraftforge.net/maven/net/minecraftforge/forge/index_1.15.2.html" >Minecraft Forge</A>
      <DT><A HREF="https://yiff.party/patreon/19193775#shared_files" >umsoea | yiff.party</A>
      <DT><A HREF="https://www.amuletmc.com/readme" >Disclaimer | Amulet Editor</A>
      <DT><A HREF="https://www.minecraftinfo.com/idlist.htm" >Minecraft ID List - Minecraft Info</A>
      <DT><A HREF="https://github.com/Multiverse/Multiverse-Core/wiki/Command-Reference#teleport-command" >命令参考 · Multiverse/Multiverse-Core Wiki · GitHub</A>
      <DT><A HREF="https://afdian.net/@Nan2uu" >南烛Nan2uu正在创作我的世界Minecraft 彩虹像素 RainbowPixel~☆材质包 | 爱发电</A>
      <DT><H3 >娱乐插件</H3>
      <DL><p>
          <DT><A HREF="https://www.curseforge.com/minecraft/bukkit-plugins/basicquests" >BasicQuests - Bukkit 插件 - Minecraft - CurseForge</A>
          <DT><A HREF="https://www.curseforge.com/minecraft/bukkit-plugins/magic" >Magic - Bukkit Plugins - Minecraft - CurseForge</A>
          <DT><A HREF="https://www.mcbbs.net/thread-1182379-1-1.html" >[管理|娱乐][SCT]Magic——魔法?不只是技能那么简单![1.6-1.17.X] - 服务端插件 - Minecraft(我的世界)中文论坛 -</A>
          <DT><A HREF="https://mineplugin.org/Magic" >Magic - Minecraft插件百科</A>
      </DL><p>
      <DT><A HREF="https://www.curseforge.com/minecraft/bukkit-plugins?filter-game-version=2020709689%3A9190&filter-sort=4#" >Bukkit Plugins - Minecraft - CurseForge</A>
      <DT><A HREF="https://shadersmods.com/" >Minecraft Shaders | Mods &amp; Shader Packs</A>
      <DT><A HREF="https://www.opereserver.com/" >主页 | Project:OPEREO</A>
  </DL><p>
  <DT><H3 >机器人和服务器</H3>
  <DL><p>
      <DT><A HREF="https://cqp.cc/b/app" >应用发布 · 创意 - 酷Q社区</A>
      <DT><A HREF="http://cloud.xiaoi.com/" >iBot Cloud-小i机器人云平台|智能机器人|智能问答|智能客服|客服机器人</A>
      <DT><A HREF="http://www.tuling123.com/" >图灵机器人－中文语境下高智能度的机器人大脑</A>
      <DT><A HREF="https://cqp.cc/t/23253#pid873447" >酷Q Air 5.12 ~ 轻盈，梦想，新生 ~ - 版本发布 · 动态 - 酷Q社区</A>
      <DT><A HREF="http://www.abeiyun.com/control/#/user" >阿贝云-控制台</A>
      <DT><A HREF="https://yq.aliyun.com/articles/699826?spm=a2c4e.11155472.0.0.5185722cZ4BxF0" >学生服务器的购买和配置方法-云栖社区-阿里云</A>
      <DT><A HREF="http://biz.turingos.cn/certification" >图灵AI开放平台-实名认证</A>
      <DT><A HREF="http://www.app-yun.cn/index.php?m=index&a=userhome_myapp&p=2" >AI云机器人市场 - 后台管理</A>
      <DT><A HREF="https://www.kancloud.cn/turing/www-tuling123-com/718229" >微信个人号接入教程 · 帮助中心 · 看云</A>
  </DL><p>
  <DT><H3 >DevMC</H3>
  <DL><p>
      <DT><A HREF="https://hub.spigotmc.org/stash/projects/SPIGOT" >Spigot project 源代码</A>
      <DT><A HREF="https://www.spigotmc.org/wiki/resources-list/" >资源列表 | SpigotMC - 高性能 Minecraft</A>
      <DT><A HREF="https://www.spigotmc.org/wiki/intellij-debug-your-plugin/" >IntelliJ：调试您的插件 | SpigotMC - 高性能 Minecraft</A>
      <DT><A HREF="https://bukkit.windit.net/javadoc/" >概览 (Spigot-API 1.19.2-R0.1-SNAPSHOT API 中文文档)</A>
      <DT><A HREF="https://plgdev.xuogroup.top/#/" >RarityEG&#39;s Plugin Dev Tutorial</A>
      <DT><A HREF="https://www.npmjs.com/package/mineflayer" >mineflayer - npm</A>
      <DT><A HREF="https://blog.csdn.net/weixin_45445598/category_11177632.html" >Bukkit插件开发_奋斗的小牛的博客-CSDN博客</A>
      <DT><A HREF="https://bdn.tdiant.net/#/" >Bukkit Development Note</A>
      <DT><A HREF="https://dev.bukkit.org/projects/mythiclib" >Overview - MythicLib - Bukkit Plugins - Projects - Bukkit</A>
      <DT><A HREF="https://www.curseforge.com/minecraft/bukkit-plugins/mythicmobs" >MythicMobs - Bukkit 插件 - Minecraft - CurseForge</A>
      <DT><A HREF="https://hamsteryds.github.io/noticements-in-bukkit/#bukkit%E7%BC%96%E7%A8%8B%E6%9D%82%E8%B0%88%E9%9B%B7%E7%82%B9%E6%A8%A1%E6%9D%BF%E6%80%9D%E8%B7%AF%E8%AE%BE%E8%AE%A1" >Bukkit编程杂谈</A>
      <DT><A HREF="https://bukkit.windit.net/javadoc/org/bukkit/event/entity/package-summary.html" >org.bukkit.event.entity (Spigot-API 1.19.2-R0.1-SNAPSHOT API 中文文档)</A>
      <DT><A HREF="https://minecraft.fandom.com/zh/wiki/%E5%91%BD%E4%BB%A4/item" >命令/item - Minecraft Wiki，最详细的我的世界百科</A>
      <DT><A HREF="https://mcsmanager.com/" >MCSManager 管理面板 - 官方网站</A>
      <DT><A HREF="https://www.spigotmc.org/resources/infinite-blocks.101023/" >Infinite Blocks | SpigotMC - High Performance Minecraft</A>
      <DT><A HREF="https://www.universalminecrafteditor.com/" >通用 Minecraft 编辑器：NBT 编辑你的 Minecraft 世界</A>
      <DT><A HREF="https://www.blockbench.net/" >Blockbench</A>
      <DT><A HREF="https://github.com/Querz/mcaselector" >Querz/mcaselector：用于从 Minecraft 世界中选择块以进行删除或导出的工具。</A>
      <DT><A HREF="https://www.amuletmc.com/" >amuletmc Minecraft 世界编辑器和转换器</A>
  </DL><p>
